*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body{
    background: linear-gradient(red,red 80%,orange 20%, orange 100%);
    position: relative;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.menu-area{
    background: #262626;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
}

.logo{
    line-height: 50px;
    margin-left: 4%;
    padding: 15px;
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.shh{
    line-height: 0;
    margin-left: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 20px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.menu-area ul{
    margin-right: 7%;
    position: relative;
    display: flex;
    justify-content: center;
}

.menu-area ul li{
    padding: 20px;
    line-height: 50px;
    position: relative;
    list-style: none;
}

.menu-area ul li a{
    font-size: 18px;
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 500px;
}

.menu-area ul li a:hover{
    color: aqua;
}

.div-area p{
    margin-top: 10%;
    margin-bottom: 0;
    margin-left: 35%;
    margin-right: 35%;
    padding: 0;
    background: #262626;
    text-align: center;
}

.div-area p a{
    text-decoration: none;
    font-size: 18px;
    font-family: poppins;
    color: #fff;
}

.div-area p:hover{
    background: limegreen;
}

.photo{
    position: absolute;
    margin-left: 7%;
}

.h{
    margin-left: 33%;
    position: absolute;
}

.l{
    margin-left: 5%;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-top: 6.5%;
}

.llo{
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
    position: relative;
    font-size: 26px;
    font-family: poppins;
}

.ma{
    margin-left: 10%;
    margin-right: 10%;
    float: right;
    box-sizing: border-box;
    position: relative;
    font-size: 26px;
    font-family: poppins;
    margin-bottom: 10%;
}


.container{
    display: flex;
    width: 100%;
    margin-top: 45%;
}

.container .box{
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    width: 100%;
    background: #fff;
    cursor: pointer;
    padding: 100px 10px 10px;
    box-shadow: 0 15px 45px rgb(0,0,0,.1);
}

.container .box:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: skyblue;
    transform: scaleX(0);
    transform-origin: top;
    transition: transform 0.5s;
}

.container .box:hover:before{
    transform: scaleX(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}